main {
    max-width: 1440px;
}

body {
    background-color: rgb(246, 247, 248);
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 16px;
}