body{
    margin: 0px;
    display: flex;
    justify-content: start;
    background-color: rgb(246, 247, 248);
    font-family: "Inter", sans-serif;
    width: 100vw;
}

.content_wrapper{
    max-width: 1440px;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    color: #CDCDCD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a:hover{
    cursor: pointer;
}

h1{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

h2,
h3{
    margin: 0;
    color: #000000;
}

p,
tr,
td,
ul,
li{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #2a3647;
    margin: 0;
}

button {
  height: 49px;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.margin_left{
    margin-left: 100px;
}