body{
    margin: 0px;
    display: flex;
    justify-content: start;
    background-color: rgb(246, 247, 248);
    font-family: "Inter", sans-serif;
    width: 100vw;
}

.content_wrapper{
    max-width: 1440px;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    color: #CDCDCD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a:hover{
    cursor: pointer;
}

h1{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

h2{
    font-family: 'latin_700';
    font-size: 27px;
    font-weight: bold;
}

h3{
    margin: 0;
    color: #000000;
}

p{
    font-family: 'latin_400';
    margin: 0;
}

tr{
    width: fit-content;
}

td{
    width: fit-content;
    font-family: 'latin_400';
}

ul
li{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #2a3647;
    margin: 0;
}

button{
  height: 49px;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.margin_left{
    margin-left: 100px;
}

.content_wrapper_sidebar{
    width: calc(1440px - 100px);
}