body{
    margin: 0px;
    display: flex;
    justify-content: start;
    background-color: rgb(246, 247, 248);
    font-family: "Inter", sans-serif;
    width: 100vw;
}

.content_wrapper{
    max-width: 1440px;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'latin_400';
    font-size: 16px;
}

a:hover{
    cursor: pointer;
}

p{
    font-family: 'latin_400';
    color: #2a3647;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

.margin_left{
    margin-left: 100px;
}