/* ---------- FORM AREA ---------- */

.dialog_add_task_container {
    width: 1000px;
    height: 820px;
    background-color: rgb(246, 247, 248);
    border-radius: 25px; 
    padding: 50px;      
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

.add_task_overlay_wrapper {
    display: flex;
    flex-direction: column;
}

#addTaskDialog {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(calc(100vw + 50%), -50%);  
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border: none;
}

#addTaskDialog[open] {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.close_btn_container {
    position: absolute;
    top: 55px;
    right: 48px;
}

.close_btn {
    cursor: pointer;
}

.close_btn:hover {
    content: url("../assets/img/x_hover.svg");
}

/* ---------- SCROLL BAR BIG ---------- */

.dialog_add_task_container::-webkit-scrollbar {
    width: 8px;
    background: transparent; 
}

.dialog_add_task_container::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
}

.dialog_add_task_container::-webkit-scrollbar-thumb:hover {
    background: #c8c8c8;
}