/* ---------- FORM AREA ---------- */

.add_task_main_content {
    padding-top: 100px;
    padding-left: 100px;
    width: 90%;
    margin-bottom: 40px;
}

.add_task_form_container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 100px;
}

.formfield_left {
    width: 50%;
}

.formfield_right {
    width: 50%;
}

.vertical_line {
    border-left: 1px solid #ccc;
    height: auto;
    margin: 0 30px;
}

.label_text {
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
    margin-bottom: 8px;
    display: inline-block;
}

sup {
    color: #FF3D00;
}

.add_task_input {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 24px;
}

.add_task_input::placeholder {
    color: #d1d1d1;
    font-size: 20px;
    font-family: "latin_400", sans-serif;
    font-weight: 400;
}

.add_task_input_dropdown {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

.add_task_input_dropdown::placeholder {
    color: #d1d1d1;
    font-size: 20px;
    font-family: "latin_400", sans-serif;
    font-weight: 400;
}

.add_task_description {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 144px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 24px;
}

.add_task_description::placeholder {
    color: #d1d1d1;
    font-size: 20px;
    font-family: "latin_400", sans-serif;
    font-weight: 400;
    padding-top: 8px;
}

.styled_input {
    font-family: "latin_400", sans-serif;
    font-size: 20px;           
    color: #2a3647;            
    padding-left: 20px;
    cursor: pointer;
}

.styled_input_description {
    font-family: "latin_400", sans-serif;
    font-size: 20px;           
    color: #2a3647;            
    padding-left: 20px;
    padding-top: 8px;
}

#due_date {
    background: url("../assets/img/event.svg") no-repeat right 16px center;
    background-color: white;
}

/* Removes the standard browser icon for date picker */
/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}

/* Older Browser */
input[type="date"]::-ms-input-placeholder {
    display: none;
}

input[type="date"]::placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="date"]::-moz-placeholder,
input[type="date"]:-ms-input-placeholder {
    color: #d1d1d1;
    font-size: 20px;
    font-family: "latin_400", sans-serif;
    font-weight: 400;
    padding-top: 8px;
}

/* ---------- DROPDOWN INPUTS ---------- */

.dropdown {
    width: 100%; 
}
 
.dropdown_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
}

/* .dropdown_icon {
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/drop_down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.2s ease;
} */

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #29abe2;
}

.dropdown_input:hover .dropdown_icon {
    background-image: url("../assets/img/drop_down_hover.svg");
}

.dropdown_list {
    list-style: none;
    padding: 0;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.dropdown_list_contacts {
    list-style: none;
    padding: 0;
    width: 100%;
    max-height: 190px;
    overflow-y: auto;
    background: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.dropdown_item {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
}

.dropdown_item:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
}

.dropdown_item_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input_spacer {
    height: 24px;
    width: 100%;
}

.user_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.checkbox_icon {
    cursor: pointer;
    padding-right: 30px;
}

.checkbox_icon[data-checked="false"] {
    content: url("./assets/img/checkbox_unchecked_contact_form.svg");
}

.checkbox_icon[data-checked="true"] {
    content: url("./assets/img/checkbox_checked_contact_form.svg");
}

/* ---------- SCROLL BAR ---------- */

.dropdown_list_contacts::-webkit-scrollbar {
    width: 8px;
    background: transparent; 
}

.dropdown_list_contacts::-webkit-scrollbar-track {
    border-radius: 4px;
}

.dropdown_list_contacts::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 4px;
}

.dropdown_list_contacts::-webkit-scrollbar-thumb:hover {
    background: #c8c8c8;
}

/* ---------- PRIORITY BOTTON AREA ---------- */

.priority_options {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.priority_options button + button {
    margin-left: 8px;
}

.urgent_btn_default,
.medium_btn_default,
.low_btn_default {
    flex: 1;
    background-color: white;
    color: #2a3647;
    border: none;
    border-radius: 8px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.urgent_btn_default:hover,
.medium_btn_default:hover,
.low_btn_default:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.urgent_btn_filled {
    flex: 1;
    background-color: #FF3D00;
    color: white;
    border: none;
    border-radius: 8px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
}

.medium_btn_filled {
    flex: 1;
    background-color: #FFA800;
    color: white;
    border: none;
    border-radius: 8px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
}

.low_btn_filled {
    flex: 1;
    background-color: #7Ae229;
    color: white;
    border: none;
    border-radius: 8px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
}

/* ---------- BOTTOM AREA ---------- */

.add_task_bottom_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_task_btn_area {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.clear_btn {
    font-weight: 400;
    font-family: "latin_400", sans-serif;
    padding: 8px 18px;
    color: #2a3647;
    background-color: rgb(246, 247, 248);
    font-size: 20px;
    border: 2px solid #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.clear_btn .icon {
    width: 24px;  
    height: 24px;  
    object-fit: contain;
}

.clear_btn img.hover {
    display: none;
}

.clear_btn:hover {
    color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.clear_btn:hover img.default {
    display: none;
}

.clear_btn:hover img.hover {
    display: inline;
}

.create_task_btn {
    font-family: "latin_600", sans-serif;
    padding: 8px 18px;
    color: white;
    background-color: #2a3647;
    font-size: 21px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 6px; 
}

.create_task_btn:hover {
    color: white;
    background-color: #29abe2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

/* ---------- SUBTASK AREA AND BUTTON ---------- */

.subtask_wrapper {
    position: relative;
    width: 100%;
}

.input_container {
    position: relative;
}

.add_task_input {
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
}

.subtask_actions {
    position: absolute;
    top: 35%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    gap: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

.subtask_actions button {
    background-color: none;
}

.subtask_divider{
    border-right: 1.5px solid #d1d1d1;
    height: 27px;
    position: absolute;
    top: 46%;
    right: 29px;
    transform: translateY(-50%);
}

.add_task_input:focus + .subtask_actions {
    opacity: 1;
}

.subtask_btn {
    background-color: transparent !important;
    height: 35px;
}

.cancel_subtask:hover {
    content: url("../assets/img/close_hover.svg") !important;
}

.submit_subtask:hover {
    content: url("../assets/img/check_hover.svg");
}

.new_subtask {
    color: #2a3647;   
    font-weight: 400;  
    font-size: 20px;
    margin-bottom: 5px;
}

#subtaskList {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.edit_subtask:hover {
    content: url("../assets/img/edit_hover.svg");
}

.delete_subtask:hover {
    content: url("../assets/img/delete_hover.svg");
}

.list_element {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_icon_element {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-right: 16px;
}

.edit_container {
    position: relative;
}

.subtask_edit_btn {
    background-color: transparent !important;
    height: 35px;
    cursor: pointer;
}

.cancel_subtask_edit:hover {
    content: url("../assets/img/delete_hover.svg") !important;
}

.subtask_edit_hr {
    position: relative;
    top: -2px;
    width: 100%;
    border: none;
    height: 2px;
    background-color: #29abe2;
}

.edit_input {
  flex: 1;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.subtask_edit_input {
    width: 100%;
    height: 36px;
    padding-right: 80px;
    border: none;
    margin-top: 8px;
}

.subtask_edit_area {
    position: absolute;
    right: 16px;
    top: 58%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}

.subtask_edit_btn {
    background: transparent;
    height: 35px;
    border: none;
    cursor: pointer;
}

.contact_initial_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease;
}

.user_name_assignee_circle{
    font-size: 20px;
}