.add_task_main_content {
    padding-top: 80px;
    padding-left: 80px;
    width: 80%;
}

sup {
    color: #FF8190;
}

.add_task_bottom_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_task_btn_area {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.clear_btn {
    font-weight: 400;
    font-family: "inter";
    padding: 8px 18px;
    color: #2a3647;
    background-color: rgb(246, 247, 248);
    font-size: 20px;
    border: 1.5px solid #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.clear_btn .icon {
    width: 24px;  
    height: 24px;  
    object-fit: contain;
}

.clear_btn img.hover {
    display: none;
}

.clear_btn:hover {
    color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.clear_btn:hover img.default {
    display: none;
}

.clear_btn:hover img.hover {
    display: inline;
}

.create_task_btn {
    font-weight: 600;
    font-family: "inter";
    padding: 8px 18px;
    color: white;
    background-color: #2a3647;
    font-size: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 6px; 
}

.create_task_btn:hover {
    color: white;
    background-color: #29abe2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}