/* ---------- FORM AREA ---------- */

.add_task_main_content {
    padding-top: 80px;
    padding-left: 80px;
    width: 90%;
}

.add_task_form_container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 100px;
}

.formfield_left {
    width: 50%;
}

.formfield_right {
    width: 50%;
}

.vertical_line {
    border-left: 1px solid #ccc;
    height: auto;
    margin: 0 30px;
}

.label_text {
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
    margin-bottom: 8px;
    display: inline-block;
}

sup {
    color: #FF8190;
}

.add_task_input {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 24px;
}

.add_task_input::placeholder {
    color: #d1d1d1;
    font-size: 20px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    padding-left: 10px;
}

.add_task_description {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 144px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 24px;
}

.add_task_description::placeholder {
    color: #d1d1d1;
    font-size: 20px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 8px;
}

#due-date {
  background: url("../assets/img/event.svg") no-repeat right 8px center;
  background-color: white;
}

/* ---------- PRIORITY BOTTON AREA ---------- */

.priority_options {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.urgent_btn {
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 35%;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.urgent_btn:hover {
    background-color: #FF3D00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.medium_btn {
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 35%;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.medium_btn:hover {
    background-color: #FFA800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.low_btn {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 35%;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.low_btn:hover {
    background-color: #7Ae229;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* ---------- BOTTOM AREA ---------- */

.add_task_bottom_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_task_btn_area {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.clear_btn {
    font-weight: 400;
    font-family: "inter", sans-serif;
    padding: 8px 18px;
    color: #2a3647;
    background-color: rgb(246, 247, 248);
    font-size: 20px;
    border: 2px solid #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.clear_btn .icon {
    width: 24px;  
    height: 24px;  
    object-fit: contain;
}

.clear_btn img.hover {
    display: none;
}

.clear_btn:hover {
    color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.clear_btn:hover img.default {
    display: none;
}

.clear_btn:hover img.hover {
    display: inline;
}

.create_task_btn {
    font-weight: 600;
    font-family: "inter";
    padding: 8px 18px;
    color: white;
    background-color: #2a3647;
    font-size: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 6px; 
}

.create_task_btn:hover {
    color: white;
    background-color: #29abe2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}