/* =========================================
  BASE STYLES
========================================= */

.auth_body {
  display: block;
  width: 100%;
}

/* =========================================
  HEADER
========================================= */

#auth_header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_logo {
  width: 100px;
  padding-top: 80px;
}

.sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding-top: 17px;
}

.auth_span {
  font-size: 20px;
}

.underline {
  width: 150px;
  border: 3px solid #29abe2;
  margin-top: 16px;
}

/* =========================================
  BUTTONS
========================================= */

.signup_btn {
  width: 91px;
  background-color: #2a3647;
  color: white;
}

.signup_btn:hover {
  background-color: #29abe2;
}

.auth_btns {
  display: flex;
  gap: 35px;
}

.auth_btn {
  width: 110px;
  font-size: 20px;
  background-color: #2a3647;
  color: white;
}

.auth_btn:hover {
  background-color: #29abe2;
}

.guest_log_in_btn {
  width: 177px;
  font-size: 20px;
  background: white;
  color: #2a3647;
  border: 2px solid #2a3647;
}

.guest_log_in_btn:hover {
  color: #29abe2;
  border-color: #29abe2;
}

/* =========================================
  MAIN CONTENT
========================================= */

.auth_main {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
}

.auth_main_content {
  max-width: 652px;
  width: 100%;
  height: 449px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.auth_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 48px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.auth_link:hover {
  color: #29abe2;
  font-family: "latin-700", sans-serif;
  font-weight: 600;
}

/* =========================================
  INPUTS
========================================= */

.input-wrapper {
  position: relative;
  width: 422px;
}

.icon-input {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  font-family: "latin_400";
  font-weight: 400;
}

.icon-input::placeholder {
  color: #d1d1d1;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.password-input-wrapper {
  position: relative;
  width: 422px;
}

#auth_password_input {
  color: #2a3647;
}

#toggle_password_icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 125ms ease-in-out;
}

.icon-input:focus {
  outline: none;
  border: 2px solid #29abe2;
}

.input-error {
  border: 2px solid #ff3d00 !important;
}

.error-message {
  color: #ff3d00;
  font-size: 0.85rem;
  margin-top: 4px;
  display: none;
}

.input-wrapper input.error {
  border: 1px solid #ff3d00;
}

#confirm_password_error {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #ff3d00;
  display: none;
}

.auth_opacity {
  opacity: 0;
  animation: fadeIn 0.5s forwards 1.5s;
}

/* =========================================
  FOOTER
========================================= */

.auth_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: auto;
  padding-bottom: 30px;
  padding-top: 50px;
}

.login_footer {
  padding-top: 150px;
}



.auth_mobile {
  display: none;
}

/* =========================================
 MEDIA QUERIES
========================================= */
@media (max-width: 600px) {
  .auth_mobile {
    display: flex;
    padding-top: 87px;
  }

  #auth_header {
    padding-left: 20px;  
    padding-right: 20px;
  }

  .auth_desktop {
    display: none;
  }

  #header_logo {
    width: 64px;
    padding-top: 37px;
  }

  .auth_btns {
    flex-direction: column;
    gap: 21px;
  }

  .auth_btn {
    width: 180px;
    font-size: 16px;
  }

  .guest_log_in_btn {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  .underline {
    width: 88px;
  }

  .auth_main_content {
    width: 350px;
    height: auto;
    padding-bottom: 32px;
  }

  .input-wrapper,
  .password-input-wrapper {
    width: 300px;
  }

  .auth_footer {
    position: static;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
  

@media (max-width: 360px) {
  .auth_main_content {
    width: 300px;
  }
  .input-wrapper,
  .password-input-wrapper {
    width: 260px;
  }
}