.order_header_board{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_header_right_side{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.style_searchbar_board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    border: 1px solid #ABABAB;
    background-color: white;
}

.style_search_icon_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.style_input_searchbar{
    border: none;
    outline: none;
    height: 38px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 82%;
    font-family: 'latin_400';
}

.style_search_icon{
    height: 32px;
    background-color: white;
    margin: auto;
    
}

.border_searchbar{
    border: 0.5px solid rgb(240, 238, 238);
    height: 32px;
}

.btn_add_task_board{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    height: 40px;
    background-color: #2a3647;
    color: white;
    font-family: 'latin_600';
    width: 120px;
    padding-left:15px;
}
.img_add_btn:hover{
    cursor: pointer;
    content: url("../assets/img/add_square_blue.svg");
}

.order_board_sections{
    display: flex;
    align-items: start;
    width: 100%;
    gap: 30px;
    margin-top: 50px;
}


.order_elements_in_section_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.order_elements_in_section{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
}

.text_section{
    font-weight: bold;
}
.width_section{
    width: 100%;
    margin-top: 20px;
}

.no_task_availabe{
    background-color: #d7d6d6;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4f4fe3;
    border: 2px dashed #4f4f4fe3;
}

.style_task_card{
    background-color: white;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.label_task_card{
    background-color: #0038ff;
    height: auto;
    border-radius: 10px;
    width: fit-content;
    padding: 1px 15px;
    margin-top: 20px;
    margin-left: 20px;
}

.text_label_task_card{
    color: white;
    padding: 5px;
}

.style_text_titel_card{
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.style_text_description_card{
    color: #a8a8a8;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.order_progressbar_counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.style_progress_bar{
    width: 150px;
    height: 5px;
    background-color: #4589ff;
    border-radius: 20px;
}

.order_counter_progress{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_circle_task_card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-family: 'latin_400';
    margin-left: -7px;
    border: 1px solid white;
}

.order_elements_user_icon_priolable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.order_user_icons_task_card{
    display: flex;
    justify-content: center;
    align-items: center;

}