.contact-page {
    display: flex;
    height: 100%;
    flex: 1;
    padding-bottom: 0px;
    overflow-x: hidden;
}

.contact_list {
    margin-top: 22.5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: 24px;
    padding-right: 26px;
}

.contact-list-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 0 40px;
    padding-right: 0;
    box-shadow: 4px 0px 6px 0px #00000014;
    width: clamp(200px, 70%, 28.5rem);
    height: 100%;
}

.contact-list::-webkit-scrollbar {
    width: 24px;
}

.contact-btn {
    width: 100%;
    position: sticky;
    top: 22.5px;
    z-index: 5;
    display: flex;
    font-family: "latin_700";
    font-weight: 700;
    font-size: 21px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: #2a3647;
    border-radius: 10px;
    padding: 12px 16px;
    gap: 16px;
    line-height: 120%;
    margin-top: 22.5px;
    cursor: pointer;
    justify-items: center;
}

.button-container {
    padding-right: 40px;
    display: flex
}

.contact-btn img {
    width: 32px;
    height: 32px;
}

.contact-btn:hover {
    background-color: #29ABE2;
    border: 0;
    box-shadow: 0 4px 4px #00000040;
}

.contact-btn:active {
    background-color: #091931;
}

.beginning-letter {
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
    height: 58px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    justify-content: left;
    left: 38px;
}

.contact-seperator {
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    margin-bottom: 8px;
}

.contact-person {

    display: flex;
    flex-direction: row;
    padding: 15px 24px;
    gap: 35px;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

.contact-person:active {
    background-color: #2A3647;
}

.contact-person:not(.active-contact):hover {
    color: white;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.initals {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    font-size: 16px;
    border-radius: 45px;
    color: white;
    background-color: orange;
    border: 2px solid white;
    font-weight: normal;
}

.initals-big {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(27px, 4vw, 47px);
    width: clamp(80px, 35%, 120px);
    aspect-ratio: 1 / 1;
    border-radius: 70px;
    color: white;
    background-color: orange;
    border: 3.5px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.small-info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.small-info h3 {
    font-weight: 400;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


}

.small-info a {
    color: #29ABE2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contact-headline {
    display: flex;
    gap: 30px;
    width: 620px;
    padding-top: 110px;
    align-items: center;
}

.contact-headline h3 {
    font-size: clamp(47px, 6vw, 61px);
    line-height: 120%;
    font-weight: bold;
}

.contact-headline span {
    font-size: clamp(20px, 3vw, 27px);
}

.headline {
    display: flex;
    flex-direction: row;

    button {
        display: none;
        position: fixed;
        top: 122px;
        right: min(55px, 6%);
        background-image: url(/assets/img/arrow_backwards_blue.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        width: 38px;
        height: 38px;
    }
}

.headline-seperator {
    border-right: 3px solid #29abe2;
    height: 55px;
    margin: 8px;
}

.contact-info {
    display: flex;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    padding-left: min(55px, 6%);
    gap: 32px;
}

.contact-big {
    transform: translateX(200vw);

    display: flex;
    align-items: center;
    padding-top: 32px;
    gap: 54px;
}

.name-big {
    display: flex;
    flex-direction: column;
}

.name-big span {
    font-size: clamp(36px, 6vw, 47px);
    font-weight: 500;
}

.changebtns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.name-big button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    gap: 13px;
    cursor: pointer;

    img {
        width: 24px;
        height: 24px;
    }
}

.edit_btn,
.delete_btn {
    width: 70px;
    transition: none;
}

.edit_btn:hover,
.delete_btn:hover {
    color: #29ABE2;
    font-weight: 700;
}

.edit_btn:hover img {
    content: url("../assets/img/edit_blue.svg");
}

.delete_btn:hover img {
    content: url("../assets/img/delete_blue.svg");
}

.contact-big-information {
    transform: translateX(200vw);

    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-big-information span {
    font-size: 20px;
}

.contact-deep-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-mail,
.contact-phone {
    display: flex;
    flex-direction: column;
    gap: 15px;

    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
    }

    a {
        font-weight: 400;
        font-size: 16px;
    }
}

#contactDetailPhone {
    color: black;
}

.contact-mail a {
    color: #29ABE2;
}

.active-contact {
    background-color: #2A3647;

    h3 {
        color: white;
    }
}

.slideactive {
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}