@media (max-width: 1000px) {
    .contact-headline {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .headline-seperator {
        transform: rotate(90deg);
    }
}


@media (max-width: 600px) {
    .nav_main_content {
        width: 100%;
    }

    .contact-page {
        margin-bottom: 80px;
    }

    .contact-btn {
        position: fixed;
        top: 0;
        bottom: 100px;
        right: 20px;
        height: 56px;
        width: 56px;
        border-radius: 56px;
        border: 1px solid #2A3647;
        margin-top: auto;
        box-shadow: 0 4px 4px #00000040;

        span {
            display: none;
        }

    }

    .contact-btn:active {
        background-color: #29ABE2;
    }

    .contact_list {
        width: 100vw;
        padding: 24px;
    }

    .contact-info {
        display: none;
    }
}