@media (max-width: 1000px) {
    .contact-headline {
        flex-direction: column;
        align-items: start;
    }

    .contact-headline span::after {
        display: flex;
        content: "";
        margin-top: 16px;
        border-bottom: 3px solid #29abe2;
        width: 90px;
    }

    .headline-seperator {
        display: none;
    }
}

@media (max-width: 700px) {

    .contact-list-container {
        width: 100%;
    }

    .headline button {
        display: block;
    }
}

@media (max-width: 700px) {
    button {
        height: auto;
    }

    .changebtns {
        flex-direction: column;
        height: auto;
    }


}

@media (max-width: 700px) {
    .nav_main_content {
        width: 100%;
    }

    .contact-info {
        display: none;
    }



    .contact-headline span::after {
        display: flex;
        content: "";
        margin-top: 16px;
        border-bottom: 3px solid #29abe2;
        width: 90px;
    }

    .contact-big-information {
        transform: none;
    }

    .contact-page {
        margin-bottom: 80px;
    }

    .contact-btn {
        position: fixed;
        top: 0;
        bottom: 100px;
        right: 20px;
        height: 56px;
        width: 56px;
        border-radius: 56px;
        border: 1px solid #2A3647;
        margin-top: auto;
        box-shadow: 0 4px 4px #00000040;

        span {
            display: none;
        }

    }

    .contact-big {
        gap: 22px;
        padding-top: 8px;
        transform: none;
    }

    .changebtns {
        content-visibility: hidden;
        background-color: #2A3647;
        background-image: url(/assets/img/more_vert.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: fixed;
        bottom: 100px;
        right: 20px;
        height: 56px;
        width: 56px;
        border-radius: 56px;
        border: 1px solid #2A3647;
        box-shadow: 0 4px 4px #00000040;
    }

    .changebtns:hover {
        background-color: #29ABE2;
        border: 1px solid #29abe2;
    }

    .active-popover {
        content-visibility: visible;
    }

    #changebtnsPopover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        background-color: white;
        position: fixed;
        right: 10px;
        width: 120px;
        height: 100px;
        bottom: 90px;
        border-radius: 20px 20px 0 20px;
        box-shadow: 0 4px 4px #00000040;
        z-index: 100;
    }

    #editContactBtn,
    #deleteContactBtn {
        padding: 8px 16px;
        gap: 8px;
        font-weight: 700;
        font-style: bold;
        font-size: 16px;
        line-height: 120%;
    }

    .name-big button {
        width: 100%;
    }

    .name-big span {
        font-weight: 700;
    }

    .contact-deep-info {
        gap: 22px;
    }

    .contact-btn:active {
        background-color: #29ABE2;
    }

    ul li {
        display: unset;
    }

}