.contact-page {
    display: flex;
    flex: 1;
    height: 100%;
    padding-bottom: 0px;
}

.contact_list {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: 0 40px;
    z-index: 1;
    box-shadow: 4px 0px 6px 0px #00000014;
    scrollbar-width: 24px;
}

.contact-list::-webkit-scrollbar {
    width: 24px;
    height: 100%;
}

.contact-btn {
    display: flex;
    font-family: "latin_500";
    font-weight: 700;
    font-size: 21px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 352px;
    background-color: #2a3647;
    border-radius: 10px;
    padding: 12px 16px;
    gap: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 22.5px;
    cursor: pointer;
    justify-items: center;
}

.contact-btn img {
    width: 32px;
    height: 32px;
}

.contact-btn:hover {
    background-color: #29ABE2;
    border: 0;
}

.beginning-letter {
    position: relative;
    display: flex;
    align-items: center;
    height: 58px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    justify-content: left;
    left: 38px;
}

.contact-seperator {
    width: 352px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.contact-person {
    display: flex;
    flex-direction: row;
    padding: 15px 24px;
    gap: 35px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-person:active {
    background-color: #2A3647;
}

.contact-person:hover {
    color: white;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.initals {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    background-color: orange;
    border: 2px solid white;
}

.initals-big {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    width: 120px;
    height: 120px;
    border-radius: 70px;
    color: white;
    background-color: orange;
    border: 3px solid white;
}

.small-info h3 {
    font-weight: 400;
    font-size: 20px;
}

.small-info a {
    color: #007cee;
}

.contact-headline {
    display: flex;
    gap: 30px;
    width: 620px;
    padding-top: 110px;
    align-items: center;
}

.contact-headline h3 {
    font-size: 61px;
    line-height: 120%;
    font-weight: bold;
}

.contact-headline span {
    font-size: 27px;
}

.headline-seperator {
    height: 59px;
    width: 0;
    border: 3px solid #29abe2;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding-left: 55px;

    gap: 32px;
}

.contact-big {
    display: flex;
    align-items: center;
    padding-top: 32px;
    gap: 54px;
}

.name-big {
    display: flex;
    flex-direction: column;
}

.name-big span {
    font-size: 47px;
    font-weight: 500;
}

.changebtns {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.name-big button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    gap: 13px;
    cursor: pointer;

    img {
        width: 24px;
        height: 24px;
    }
}

.name-big button:hover {
    color: #007cee;

    img {
        filter: invert(35%) sepia(99%) saturate(3301%) hue-rotate(194deg) brightness(98%) contrast(101%);
    }
}

.contact-big-information {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-big-information span {
    font-size: 20px;
}

.contact-deep-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-mail,
.contact-phone {
    display: flex;
    flex-direction: column;
    gap: 15px;

    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
    }

    a {
        font-weight: 400;
        font-size: 16px;
    }
}

#contactDetailPhone {
    color: black;
}

.contact-mail a {
    color: #007cee;
}