.style_content_help{
    margin-top: 100px;
}

.style_text{
    margin-top: 20px;
    text-align: start;
}

.style_h2{
    margin-top: 40px;
}

.style_td_help{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
}

.style_table_help{
    margin-top: 20px;
}