.style_content_help{
    margin-top: 100px;
}

.style_text{
    font-family: 'latin_400';
    font-weight: 400;
    margin-top: 20px;
    text-align: start;
    color: #2a3647;
}

.style_h2{
    font-family: 'latin_700';
    font-weight: 700;
    margin-top: 40px;
}

.style_td_help{
    font-family: 'latin_700';
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.style_table_help{
    margin-top: 20px;
}