body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 16px;
}

#login_header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 77px;
  padding-right: 77px;
  align-items: center;
}

#header_logo {
  width: 100px;
  height: 120px;
  padding-top: 80px;
}

.underline {
  width: 150px;
  border: 3px solid #29abe2;
}

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 17px;
}

button {
  height: 49px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.signup_btn {
  width: 91px;
  color: white;
  background-color: #2a3647;
}

.signup_btn:hover {
  background-color: #29abe2;
  border-color: #29abe2;
}

.login_btn {
  width: 110px;
  font-size: 20px;
  background-color: #2a3647;
  color: white;
}

.login_btn:hover {
  background-color: #29abe2;
  border-color: #29abe2;
}

.guest_log_in_btn {
  width: 177px;
  color: #2a3647;
  background-color: white;
  font-size: 20px;
  border-color: #2a3647;
}

.guest_log_in_btn:hover {
  color: #29abe2;
  border-color: #29abe2;
}

.log_in_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_span {
  font-size: 20px;
}

.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.login_main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 652px;
  width: 100%;
  height: 449px;
  border-radius: 30px;
  gap: 35px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.icon-input {
  border-radius: 8px;
  width: 422px;
  height: 48px;
  padding-left: 8px;
  background-size: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  color: #d1d1d1;
}

#login_input_mail {
  background: url("../assets/img/mail_icon.svg") no-repeat right 8px center;
}

#login_password_input {
  background: url("../assets/img/lock_icon.svg") no-repeat right 8px center;
}

.login_btns {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-bottom: 48px;
  padding-top: 15px;
}

.log_in_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 35px;
  width: 100%;
  bottom: 50px;
}

a {
  text-decoration: none;
  color: #a8a8a8;
}

a:hover {
  color: #29abe2;
}
body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  font-family: "Inter", sans-serif;
}

/* ---------- TITLES ---------- */

h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 16px;
}

/* ---------- HEADER ---------- */

#login_header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 77px;
  align-items: center;
}

#header_logo {
  width: 100px;
  height: 120px;
  padding-top: 80px;
}

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 17px;
}

.login_span {
  font-size: 20px;
}

/* ---------- UNDERLINE ---------- */

.underline {
  width: 150px;
  border: 3px solid #29abe2;
}

/* ---------- BUTTONS ---------- */

button {
  height: 49px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 125ms ease-in-out;
  border: none;
}

/* Sign Up */
.signup_btn {
  width: 91px;
  color: white;
  background-color: #2a3647;
}

.signup_btn:hover {
  background-color: #29abe2;
}

/* Login */
.login_btn {
  width: 110px;
  font-size: 20px;
  background-color: #2a3647;
  color: white;
}

.login_btn:hover {
  background-color: #29abe2;
}

/* Guest */
.guest_log_in_btn {
  width: 177px;
  font-size: 20px;
  background: white;
  color: #2a3647;
  border: 2px solid #2a3647;
}

.guest_log_in_btn:hover {
  color: #29abe2;
  border-color: #29abe2;
}

/* ---------- MAIN CONTENT ---------- */

.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.login_main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 652px;
  width: 100%;
  height: 449px;
  border-radius: 30px;
  gap: 35px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.log_in_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log_in_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

/* ---------- INPUTS ---------- */

.icon-input {
  width: 422px;
  height: 48px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  color: #333;
  background-size: 20px 20px;
  background-position: right 8;
}

/* Splash logo */
#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(246, 247, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#splash_logo {
  width: 274px;
  height: 335px;
  transition: all 0.8s ease-in-out;
  position: relative;
}

/* Animation to header */
#splash_logo.animate {
  width: 100px;
  height: 120px;
  position: absolute;
  top: 80px;
  left: 77px;
}

/* Main content */
#main_content {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 5000;
}
