@media (max-width: 1300px) {
  .add_task_main_content {
    padding-left: 50px;
  }

  .medium_btn_filled {
    font-size: 16px;
  }

  .low_btn_default {
    font-size: 16px;
  }

  .add_task_form_container {
    gap: 0;
  }
}

@media (max-width: 975px) {
  .add_task_form_container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .formfield_left,
  .formfield_right {
    width: 100%;
    max-width: 600px;
  }

  .vertical_line {
    display: none;
  }

  .add_task_main_content {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .required-mobile {
    display: block;
  }

  .required-desktop {
    display: none;
  }

  .add_task_bottom_area {
    gap: 15px;
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .nav_main_content {
    width: 100%;
    margin-bottom: 80px;
  }

  .add_task_main_content {
    padding: 20px;
    margin-bottom: 0;
    width: 96%;
  }

  .add_task_main_content h1 {
    margin-top: 30px;
  }

  .formfield_left_wrapper,
  .add_task_input,
  .add_task_description,
  .dropdown {
    width: 100% !important;
    box-sizing: border-box;
  }

  .add_task_description {
    height: 80px;
  }

  .priority_options {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .priority_options button {
    padding: 8px 5px;
    font-size: 16px;
    flex: 1;
  }

}

@media (max-width: 460px) {
  .create_task_btn {
    font-size: 15px;
  }

  .clear_btn {
    font-size: 15px;
  }
}
