@media (max-width: 700px) {
  .btn_add_task_board_mobile {
    display: flex;
  }

  .nav_main_content {
    width: 100%;
  }

  main.margin_left {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 20px;
    padding-right: 30px;
    width: 100%;
    padding-bottom: 100px;
  }

  main.margin_top {
    margin-top: 30px !important;
  }

  .order_header_board {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .order_header_board h1 {
    margin-top: 10px;
  }

  .order_header_right_side {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .style_searchbar_board {
    width: 100%;
  }

  .btn_add_task_board {
    display: none;
  }

  .order_board_sections {
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
  }

  .order_elements_in_section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .no_task_available {
    width: 100%;
  }

  .style_task_card {
    max-width: 231px;
    height: 250px;
  }
}
