@media (max-width: 1220px){
    .order_summary_information{
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        margin-bottom: 30px;
        gap: 30px;
    }
    .order_greeting_username{
        margin-left: 100px;
    }

    .summary_header{
        flex-wrap: wrap;
        margin-bottom: 50px;
        gap: 0;
    }

}

@media(max-width: 1000px){
    .style_todo_done_box{
        max-width: 150px;
        gap: 8px;
    }
    .box_prio_tickets{
        max-width: 320px;
        gap: 0;
    }

    .divider_prio_box{
        margin: 10px;
    }

    .deadline_information{
        text-align: center;
        width: auto;
    }

    .counter_prio_tickets{
        gap: 8px;
        width: 150px;
        margin-left: 8px;
    }

    .boxes_last_row{
        max-width: 100px;
    }

    .order_ticket_box_below{
        gap: 9px;
    }
}

@media(max-width: 740px){
  .order_greeting_username{
    margin-left: 50px;
  }
}

@media(max-width: 650px){
    .style_greeting_text{
        font-size: 36px;
    }

    .style_username{
        font-size: 48px ;
    }
}