@media (min-width: 700px) and (max-width: 1000px) {
  [id^="board_column_"] {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    width: 100%;
    padding-bottom: 10px; 
  }

  .style_task_card {
    min-width: 250px;
    max-width: 250px;
    flex-shrink: 0;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 1000px) {
  .btn_add_task_board_mobile {
    display: flex;
  }

  .btn_add_task_board {
    display: none;
  }

  main.margin_left {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .order_header_board {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .order_header_right_side {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .style_searchbar_board {
    width: 100%;
  }

  .order_board_sections {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  .order_elements_in_section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .no_task_available {
    width: 100%;
  }

  [id^="board_column_"] {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    padding-bottom: 10px;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  [id^="board_column_"]::-webkit-scrollbar {
    display: none;
  }

  .no_task_available {
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  .style_task_card {
    min-width: 250px;
    max-width: 250px;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .width_section {
    width: 100%;
    display: block;
  }
}

@media (max-width: 700px) {

  

  main.margin_left {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
  }

  .nav_main_content {
    width: 100%
  }

  .margin_top {
    margin-top: 40px;
  }

  .order_header_board h1 {
    margin-top: 10px;
  }

  .btn_add_task_board_mobile {
    width: 35px;
    height: 35px;
  }
}
