.nav_bar{
    display: flex;
    align-items: center;
    height: 95px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.help_user_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

.help_user_icon > *{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.help_icon{
    cursor: pointer;
}

.help_icon:hover{
    content: url("../assets/img/questionmark.svg");
    cursor: pointer;
}

.text_navbar{
    margin-left: 100px;
}

.user_circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #2a3647;
    border-radius: 50%; 
    color: #29abe2;
}

.user_circle:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.order_content_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ---------- MENU NAVBAR ---------- */

.menu_navbar{
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 67.5px;
    right: 0; 
    background-color: #2a3647;
    width: 170px;
    padding: 16px 0;
    border-radius: 14px 0 14px 14px;
    font-family: 'latin_400';
}

.menu_navbar a{
    display: block;
    padding: 16px 20px;
    color: #cdcdcd;
    text-decoration: none;
    font-size: 16px;
}

.menu_navbar a:hover{
    background-color: #2e3d57;
}
