.nav_bar{
    display: flex;
    align-items: center;
    height: 95px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.help_user_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.help_icon{
    height: 40px ;
}

.help_icon:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 30px;
}

.text_navbar{
    margin-left: 100px;
}

.user_circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #2a3647;
    border-radius: 50%; 
    color: #29abe2;
}

.user_circle:hover{
    background-color: lightgrey;
    cursor: pointer;
    
}

.order_content_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}