.order_sidebar_main{
    display: flex;
    width: 100%;
}

.nav_main_content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

@media (max-width:600px) {
  .sidebar_desktop {
    display: none;
  }
  .nav_main_content{
    width: 100%;
  }


}