.order_sidebar_main {
  display: flex;
  width: 100%;
}

.nav_main_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  overflow-y: hidden;
}

@media (max-width:600px) {
  .nav_main_content {
    width: 100%;
  }

  .desktop {
    display: none;
  }
}