.signup_main_content {
  max-width: 598px;
  width: 100%;
  height: 630px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.sign_up_main {
    padding-top: 0;
}

.signup_in_form {
     display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#auth_input_name {
  background: url("../assets/img/person_icon.svg") no-repeat right 8px center;
}


#auth_password_confirmation_input {
  background: url("../assets/img/lock_icon.svg") no-repeat right 8px center;
}