/* =========================================
  SIGNUP – HEADER
========================================= */

.signup_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 111px;
  width: 516px;
}

.arrow_icon {
  width: 32px;
  height: 32px;
}

/* =========================================
  SIGNUP – MAIN CONTENΤ
========================================= */

.signup_main_content {
  max-width: 598px;
  width: 100%;
  height: 630px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.sign_up_main {
  padding-top: 0;
}

/* =========================================
  SIGNUP – FORM 
========================================= */

.signup_in_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* =========================================
  SIGNUP – CHECKBOX
========================================= */

.checkbox_text {
  color: #a8a8a8;
}

.checkbox_link {
  color: #29abe2;
}

.auth_btn:disabled {
  background-color: #999; /* πιο θαμπό γκρι */
  cursor: not-allowed;
  color: #eee;
}