.toast-message {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 120%; 
    background-color: #091931;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px 30px;
    font-weight: 400;
    z-index: 9999;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    max-width: 320px;
    height: 75px;
    text-align: center;
}

.toast-message.show {
    top: 50%;
    opacity: 1;
    visibility: visible;
}